@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
      url("./fonts/Montserrat.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Adieu";
    src: local("Adieu-Regular"),
      url("./fonts/Adieu-Regular.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Montserrat-Bold";
    src: local("Montserrat-Bold"),
      url("./fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: local("Montserrat-SemiBold"),
      url("./fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-Medium";
    src: local("Montserrat-Medium"),
      url("./fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: normal;
}

*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

:root{
    --primary-bg:rgb(197,92,94);
    --primary-color: #ff9100;
}
body{
    background: var(--primary-bg);
    height: 100vh;
    position: relative;
    box-sizing: border-box;
}
.main-wrapper{  
    padding-top:80px;
}
.profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.SigningOptions{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 5px 20px;
}
.SigningOptions li{
    width: 70px;
    padding: 2px 5px 2px 5px;
    text-align: center;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;
    align-items: center;
    margin:0px 0px 15px 0px;
    background: white;
    box-shadow: 1px 1px 1px 1px  rgba(255, 255, 255, 0.788);
}
.header_right{
    display: flex;
    flex-direction: row;
}
.Categories{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.category{
    width: 200px;
    padding: 40px;
    height:30px ;
    margin: 8px;
    background-color: #ffffff;
    font-family: "Montserrat-Bold";
    display: flex;
    user-select: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all 500ms;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
}
.category:hover{
    background-color: rgb(206, 115, 116);
    color:white;
    transform: scale(1.1);
}
.play_quiz{
    height:50px;
    width:150px;
    border-radius:8px;
    font-family: Montserrat-SemiBold;
    background-color: rgb(2, 190, 2);
    box-shadow:2px 2px 2px 2px gray
}
.play_quiz:hover{
    height:50px;
    width:150px;
    border-radius:8px;
    background-color: rgb(0, 160, 0);
    box-shadow:2px 2px 2px 2px gray
}
.CategoriesDiv{
    background:transparent;
}
.DifficultyList{
    list-style: none;
    margin-top: 10px;
}
.unselected{
    padding: 8px;
    margin-bottom: 5px;
    margin-top:10px;
    border-radius:3px;
    user-select: none; 
    cursor: pointer;
    font-family:"Montserrat-Medium";
    background-color: rgba(241, 237, 237, 0.459);
    box-shadow: 1px 1px 1px 1px rgba(241, 237, 237, 0.733);
    transition:all 300ms
}
.unselected:hover{
    padding: 8px;
    margin-bottom: 5px;
    margin-top:10px;
    border-radius:3px;
    font-family:"Montserrat-Medium";
    user-select: none; 
    cursor: pointer;
    background-color: rgba(241, 237, 237, 0.459);
    box-shadow: 1px 1px 1px 1px rgba(241, 237, 237, 0.733);
    transform:scale(1)
}
.selected{
    background-color: rgb(0, 255, 115);
    padding: 8px;
    margin-bottom: 5px;
    margin-top:10px;
    border-radius:3px;
    font-family:"Montserrat-Medium";
    user-select: none; 
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(241, 237, 237, 0.733);
}
.select_btn{
    /* width:50px; */
    padding: 3px;
    margin-top: 5px;
    float:right;
    background-color: rgba(233, 233, 233, 0.815);
    border-radius: 2px;
    color: black;
    cursor:pointer;
    margin-right:3px;
    padding: 5px 20px;
    box-shadow: 1px 1px 1px 1px rgba(241, 237, 237, 0.733);
}
.select_btn:disabled{
    /* width:50px; */
    padding: 3px;
    margin-top: 5px;
    float:right;
    background-color: rgba(233, 233, 233, 0.815);
    color:gray;
    border-radius: 2px solid gray;
    cursor:pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 5px 20px;
}
.CancelDiff{
    padding: 3px;
    margin-top: 5px;
    float:right;
    margin-left: 2px;
    background-color: rgba(233, 233, 233, 0.815);
    border-radius:4px;
    color: black;
    padding: 5px 20px;
}
.shd{
    box-shadow: 1px 1px 4px 1px rgb(185, 182, 182);
    border: 1px solid rgb(243, 242, 242);
    background: #fff;
    cursor: pointer;
    font-family: Montserrat-Medium;
}
.shd:hover{
    background-color: whitesmoke;
}
.resume_yes{
    padding: 3px;
    margin-top: 5px;
    float:right;
    background-color: #4CBB17;
    border: none;
    border-radius: 4px;
    color: black;
    padding: 5px 20px;
    margin-right: 5px;
}
.resume_no{
    padding: 3px;
    margin-top: 5px;
    float:right;
    background-color: rgb(224, 224, 224);
    border: none;
    border-radius: 4px;
    color: black;
    padding: 5px 20px;
}
.resume-modal-wrapper{
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    opacity:0.1;
    z-index: 10;
    background: #000000;
}
.resume-modal{
    width:320px;
    padding: 20px;
    background-color: white;
    color:black;
    border-radius: 10px;
    z-index: 12;
    min-height:130px;
    font-family: "Montserrat-SemiBold";
    border:1px solid gray;
    box-shadow: -1px 2px 15px 2px rgba(0, 0, 0, 0.856);
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.difficulty_header{
    font-family: "Montserrat-SemiBold";
}
.difficulty-modal-wrapper{
    position:absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    opacity:0.1;
    z-index: 10;
    background: #000000;
}
.difficulty-modal{
    background-color: white;
    padding: 20px;
    color:black;
    border:1px solid gray;
    border-radius:4px;
    width:300px;
    position:absolute;
    box-shadow: -1px 2px 15px 2px rgba(0, 0, 0, 0.856);
    height: 280px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 12;
}
.loginFormFont{
    font-family: Montserrat-Medium;
}